.container {
    width: 100%;
    .heading{
        width: 100%;
        text-align: center;
    }
    .companyName {
        margin: 1.2rem;
        font-size: 1.4remrem;
        line-height: 1.5;
        font-weight: 600;
    }
    .about {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 3px;
        color: #8b8b8b;
    }
    .description {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}